<html>
    <head>
        <title>Megan's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Megan's Blog</a></h1>
        </div>

        <div>
            <p>published: 06.10.2018, 13.47</p>
            <h2><a href="">My first post</a></h2>
            <p>I have learnt so much at the Django girls workshop in Milton Keynes.</p>
        </div>

        <div>
            <p>published: 06.10.2018, 14:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I have added in this for my second post.</p>
        </div>
    </body>
</html>
